In [3]:
import pandas as pd
log=pd.read_csv('log.csv',header=None )
log.columns=['user_id','time','bet','win']
display(log.head())

      user_id                 time      bet      win
0    user_919  2019-01-01 14:06:51      NaN      NaN
1    user_973  2019-01-01 14:51:16      NaN      NaN
2    user_903  2019-01-01 16:31:16      NaN      NaN
3    user_954  2019-01-01 17:17:51      NaN      NaN
4    user_954  2019-01-01 21:31:18      NaN      NaN
..        ...                  ...      ...      ...
995  user_984   2019-04-20 9:59:58   9754.0      NaN
996                            NaN  10054.0  29265.0
997                            NaN  10454.0      NaN
998                            NaN   1000.0      NaN
999                            NaN  10754.0      NaN

[1000 rows x 4 columns]

B6.2.1.1 Задание 1
1 point possible (graded)
Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [18]:
na_time=log.time[log['time'].isna()==True]
display(len(na_time))

15

B6.2.1.2 Задание 2
1 point possible (graded)
Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.
Используйте оригинальный датасет log.csv.

In [21]:
import pandas as pd
log=pd.read_csv('log.csv',header=None )
log.columns=['user_id','time','bet','win']
log_becup=log
log_becup.dropna(axis=1)
#display(log_becup)

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

B6.2.1.3 Задание 3
1 point possible (graded)
Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

Используйте оригинальный датасет log.csv.

In [22]:
log_becup.dropna(axis=0)

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

B6.2.1.4 Задание 4
1 point possible (graded)
Используйте оригинальный датасет log.csv.

С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.

А сейчас:
если есть пропуски в столбце user_id - удалите столбец user_id,
если есть пропуски в столбце time - удалите столбец time.
Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

In [41]:
log_becup=log
#display(log_becup.head())
#log_becup.dropna()
log_becup.dropna(axis=1,subset=[15,30,997])

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

B6.2.2.1 Задание 1
1 point possible (graded)
Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.
Используйте оригинальный датасет log.csv.

In [43]:
log=pd.read_csv('log.csv',header=None )
log.columns=['user_id','time','bet','win']
log_becup=log
log_becup.drop_duplicates(subset=['user_id','time'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

B6.3.1.1 Задание 1
1 point possible (graded)
Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.
Подсказка: можно применить метод max() к получившемуся столбцу со временем.
Не забудьте избавиться от пропусков.
Запишите ответ в формате "YYYY-MM-DD".
Например, 1993-06-08.

In [69]:
from datetime import datetime
log=pd.read_csv('log.csv',header=None, )
log.columns=['user_id','time','bet','win']
log['time'] = log['time'].str.replace('[','')
log_becup=log
#log_becup.drop_duplicates(subset=['time'])
drop_time=log_becup['time'].dropna()
max_time=drop_time.max()
log_max_time=datetime.strptime(max_time,'%Y-%m-%d %H:%M:%S')
max_time=datetime.strftime(log_max_time,'%Y-%m-%d')
display(max_time)

'2019-04-20'

Посмотрите на код:

log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log['time'].head() 
И на изображение:



Теперь ответьте на вопрос ниже.

B6.3.1.2 Задание 2
1/1 point (graded)
Посмотрите на изображение и код выше. Какую строчку надо написать вместо пропущенной строки, чтобы получить вывод как на изображении?
Можно выбрать один или несколько ответов.

In [104]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log['time'].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

B6.3.2.1 Задание 1
1 point possible (graded)
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать value_counts().
Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.
Например, 7.

In [105]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].str.replace('[','')
#log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log['time'] = log.time.apply(lambda x: x.minute)
log['time'].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

In [106]:
log['time'].value_counts().head()

36    7
57    5
44    5
18    5
35    4
Name: time, dtype: int64

B6.3.2.2 Задание 2
1/1 point (graded)
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать value_counts().
Найдите месяц, который встречался в данных реже всего.

In [111]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log_corr_time = log['time'].str.replace('[','')
logs = log_corr_time.dropna() 
#log['time'].apply(lambda x: x[1:])  
logs = pd.to_datetime(logs)  
# Пропущенная строка  
logs_times = logs.apply(lambda x: x.month)
logs_times.value_counts()

1    291
3    264
2    259
4    170
Name: time, dtype: int64

B6.3.2.3 Задание 3*
1 point possible (graded)
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать sum().
Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). Введите ответ в поле ниже.
Например, 300.

In [113]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log_corr_time = log['time'].str.replace('[','')
logs = log_corr_time.dropna() 
#log['time'].apply(lambda x: x[1:])  
logs = pd.to_datetime(logs)  
# Пропущенная строка  
logs_times = logs.apply(lambda x: x.dayofweek)
sum_week=logs_times.value_counts()
sum_weekend=sum_week[5]+sum_week[6]
print(sum_weekend)

283

B6.3.2.4 Задание 4*
1 point possible (graded)
Используйте оригинальные данные log.csv, столбец time.
Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.
Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.
Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.
Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.
Например, ночь.

In [122]:
# Определение времени дня 
def day_time(x):
    day_t=x.hour
    #print(day_t)
    if day_t<=5:
        return 'ночь'
    elif day_t<=11:
        return 'утро'
    elif day_t<=17:
        return 'день'
    else:
        return 'вечер'
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log_corr_time = log['time'].str.replace('[','')
logs = log_corr_time.dropna() 
logs = pd.to_datetime(logs)  
logs_times = logs.apply(day_time)
logs_daytime = logs.apply(lambda x: x.hour)
sum_daytimes=logs_times.value_counts()
display(sum_daytimes)
#sum_times=logs_times.value_counts()
#display(sum_times)
    
    

#(lambda x: x.hour)

ночь     265
утро     253
день     239
вечер    227
Name: time, dtype: int64

B6.3.2.5 Задание 5*
1 point possible (graded)
Давайте повторим то, что мы прошли в этой секции. Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:
1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;
2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];
3. избавьтесь от пропусков в log;
4. приведите переменную time к подходящему для извлечения признаков виду;
5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.
Результатом будет таблица log со столбцом hour внутри.

In [2]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']
log['time'] = log['time'].str.replace('[','')
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour
display(log)

NameError: name 'pd' is not defined

B6.4.1.1 Задание 1
1 point possible (graded)
Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать value_counts().

Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

In [4]:
import pandas as pd
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
#display(log['bet'].isna().value_counts())
log['bet'].fillna(0)
display(log['bet'].fillna(0).value_counts())

0.0          514
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

B6.4.1.2 Задание 2
1 point possible (graded)
Используйте оригинальный датасет log.csv. Проделайте с ним действия из задания 1, расположенного выше на этой странице, и из пункта "Заполнение с помощью функции".
Результат запишите числом в поле ниже.
Подсказка: можно использовать sum().
Посчитайте, сколько раз участники ставок проиграли деньги. То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.

In [38]:
import pandas as pd
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
#display(log['bet'].isna().value_counts())
log['win'].fillna(0)
loss=log['win'].fillna(0).value_counts()
loss_df = loss.reset_index()
loss_df.columns = ['win','win_Count']
display(loss_df[loss_df['win']<0])

Empty DataFrame
Columns: [win, win_Count]
Index: []

B6.4.2.1 Задание 1
1 point possible (graded)
Используйте модифицированный в прошлой секции датасет log.csv. Результат запишите числом в поле ниже.
Подсказка - можно использовать sum().
Создайте признак net, хранящий сумму выигрыша с учетом ставки. Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. После этого посчитайте, у скольких людей выигрыш положительный.
Например, 0.

In [8]:
log['win'].fillna(0)
log['bet'].fillna(0)
log['net']=log['win']-log['bet']
display(log[log['net']>0].count())

user_id    138
time       133
bet        138
win        138
net        138
dtype: int64

B6.4.2.2 Задание 2
1 point possible (graded)
Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания. Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

Подсказка: можно использовать mean().

In [10]:
log['win'].fillna(0)
log['bet'].fillna(0)
log['net']=log['win']-log['bet']
display(round(log['net'][log['net']>0].mean()))

80253

B6.4.2.3 Задание 3
1 point possible (graded)
Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока. Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

Подсказка: можно использовать median().

In [11]:
log['win'].fillna(0)
log['bet'].fillna(0)
log['net']=log['win']-log['bet']
display(round(log['net'][log['net']>0].median()))

5347

B6.4.3.1 Задание 1
1 point possible (graded)
Используйте модифицированный исходный датасет log.csv.
При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).
Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [34]:
log['win']=log.win.fillna(0)
log['bet']=log.bet.fillna(0)
log['net']=log['win']-log['bet']
log['net']=log.net.fillna(0)
count_bets=log['bet'][log['bet']>0].count()
count_time=log['bet'].count()
#display(log)
print(count_bets,count_time,round(100*count_bets/count_time,1))

485 999 48.5

B6.4.3.2 Задание 2
1 point possible (graded)
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать mean().

In [40]:
log['bet']=log.bet.fillna(0)
is_bet=log['bet'][log['bet']>0]
display(is_bet.value_counts())
print(mean_bet)

500.0        50
100.0        48
300.0        42
800.0        42
200.0        40
400.0        40
700.0        38
1000.0       37
600.0        37
900.0        30
10554.0      10
9754.0       10
10154.0       7
10254.0       7
9954.0        6
10454.0       6
10754.0       5
10654.0       5
10354.0       4
10054.0       4
9854.0        2
98753.0       1
1678321.0     1
8734.0        1
12945.0       1
123981.0      1
27000.0       1
104540.0      1
8700.0        1
7650.0        1
950.0         1
145732.0      1
12548.0       1
9876.0        1
156789.0      1
5000.0        1
Name: bet, dtype: int64

6785.738144329897

B6.4.3.3 Задание 3
1 point possible (graded)
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.
Подсказка: можно использовать mean().

In [42]:
log['net']=log.net.fillna(0)
is_bet=log['net'][log['bet']>0]
print(is_bet.mean())

20421.892783505155

B6.4.3.4 Задание 4
1 point possible (graded)
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.
Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.
Пояснение: ответ должен быть дан в виде отрицательного числа.
Подсказка: можно использовать mean().

In [43]:
log['net']=log.net.fillna(0)
loss_bet=log['net'][log['net']<0]
print(loss_bet.mean())

-3372.743515850144

B6.4.3.5 Задание 5
1/1 point (graded)
Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.

In [44]:
count_nets=log['net'][log['net']>0].count()
net_time=log['net'].count()
#display(log)
print(count_nets,net_time,round(100*count_nets/net_time,1))

138 999 13.8

B6.4.3.6 Задание 6*
1 point possible (graded)
Давайте повторим то, что мы прошли в этой секции. Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:
1. загрузите датасет log.csv;
2. посчитайте, чему равна минимальная ставка;
3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [1]:
import pandas as pd
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
min_bet=log['bet'][log['bet']>0].min()
min_bet_amount=log['bet'][log['bet']==min_bet].count()

In [2]:
us=pd.read_csv('users.csv', sep='\t', skiprows=1,header = None, encoding='KOI8-R')
us.columns=['user_id','email','geo']
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower()) 
#display(us.head())
# Избавимся от ошибок в user_id  
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']
log['time'] = log['time'].str.replace('[','')
log = log[log.user_id != '#error'] 
log['win']=log.win.fillna(0)
log['bet']=log.bet.fillna(0)
log['net']=log['win']-log['bet']
log['net']=log.net.fillna(0)
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
#display(log.head())
us_log=pd.merge(log, us, on='user_id') 
display(us_log)

,user_id,time,bet,win,net,email,geo
0,user_973,2019-01-01 14:51:16,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
1,user_973,2019-01-15 17:04:00,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
2,user_973,2019-01-21 0:29:43,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
3,user_973,2019-01-26 0:23:22,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
4,user_973,2019-01-28 22:46:50,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
...,...,...,...,...,...,...,...
969,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
970,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

In [60]:
win_median=us_log.groupby('user_id').win.median().median()
print(win_median)

5951.75

B6.5.2.1 Задание 1
1 point possible (graded)
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).
Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.

In [70]:
#football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)
net_median=us_log.groupby(['user_id'])[['net']].sum().median()
display(net_median)

net    1986.0
dtype: float64

B6.5.2.2 Задание 2*
1 point possible (graded)
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).
Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.
Например, 2

In [26]:
null_stake_user=us_log['user_id'][us_log['bet']==0].count()
#Сделали ставки
#df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)
stake_made=len(us_log.groupby(['user_id'])[['bet','win','bet']].max())
#Подсчет количества посещений
#players_visit=stake_made.merge(us_log,on='user_id',how='left')
#us_log.groupby(['user_id'])[['bet']==0].count()
#atings.merge(movies, on='movieId', how='left')
display(round(null_stake_user/stake_made))

5.0

B6.5.3.1 Задание 1
1 point possible (graded)
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).
Ответ запишите в поле ниже в виде одного слова, с большой буквы.
Наибольший суммарный выигрыш среди всех городов имеет Москва. Посчитайте следующий за ней город. Для этого сгруппируйте по городам, возьмите признак win, просуммируйте по каждому городу, отсортируйте и получите второй город.

In [30]:
city_net=us_log.groupby(['geo'])[['win']].sum().sort_values(['win'],ascending=False)
display(city_net.head())

                        win
geo
Москва           11959741.0
Воронеж            184338.0
Санкт-Петербург    151007.0
Казань              97806.0
Ярославль           97441.0

B6.5.3.2 Задание 2*
1 point possible (graded)
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).
Подсказки:
1. Можно использовать методы min() и max().
2. Учитывайте, что минимальная ставка, это ставка, которая была сделана, т.е. если ставка равна нулю - значит ставки не было.
3. Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).
Во сколько раз различаются максимальное и минимальное значение средней ставки по городам? Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, найти максимальное и минимальное значения, затем поделить одно на другое.

In [34]:
#Загрузка набора сделанных ставок
stake=us_log[us_log['bet']>0]
stake_rate=stake.groupby(['geo'])[['bet']].mean().max()/stake.groupby(['geo'])[['bet']].mean().min()
display(stake_rate)

bet    127.816023
dtype: float64

B6.5.3.3 Задание 3*
1 point possible (graded)
Давайте повторим все, что мы прошли в этой секции. Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе. Для этого:
1. загрузите датасеты log.csv и users.csv;
2. удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;
3. слейте два датасета в один по признаку user_id;
4. сгруппируйте данные по правильному признаку (какому - вам нужно понять самим), затем выберите user_id и воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;
5. результат (таблицу) запишите в sample2.

In [36]:
import pandas as pd
us=pd.read_csv('users.csv', sep='\t', skiprows=1,header = None, encoding='KOI8-R')
us.columns=['user_id','email','geo']
us.user_id = us.user_id.apply(lambda x: x.lower()) 
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']
log['time'] = log['time'].str.replace('[','')
log = log[log.user_id != '#error'] 
log['win']=log.win.fillna(0)
log['bet']=log.bet.fillna(0)
log['net']=log['win']-log['bet']
log['net']=log.net.fillna(0)
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
#display(log.head())
us_log=pd.merge(log, us, on='user_id') 
sample2=us_log.groupby(['geo'])[['user_id']].count().sort_values(['user_id'],ascending=False)
display(sample2)

                 user_id
geo
Санкт-Петербург      115
Арзангелтск           96
Ярославль             89
Воронеж               88
Краснодар             86
Казань                66
Ижевск                61
Москва                61
Хабаровск             59
Красноярск            56
Пермь                 55
Екатеринбург          49
Ставрополь            36
Тюмень                32