In [2]:
import pandas as pd
data = pd.Series(list(range(10, 1001))) 
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [6]:
pd.read_csv('C:\Users\User\Documents\Андрей\SkillFactory\
Python для анализа данных\Модуль B1 Введение Pandas\data_sf.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-6-e431fcf32476>, line 2)

In [1]:
import pandas as pd

football = pd.read_csv('C:\data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
N                  12897 non-null int64
Name               12897 non-null object
Age                12897 non-null int64
Nationality        12897 non-null object
Club               12897 non-null object
Value              12897 non-null int64
Wage               12897 non-null int64
Position           12897 non-null object
Crossing           12897 non-null int64
Finishing          12897 non-null int64
HeadingAccuracy    12897 non-null int64
ShortPassing       12897 non-null int64
Volleys            12897 non-null int64
Dribbling          12897 non-null int64
Curve              12897 non-null int64
FKAccuracy         12897 non-null int64
LongPassing        12897 non-null int64
BallControl        12897 non-null int64
Acceleration       12897 non-null int64
SprintSpeed        12897 non-null int64
Agility            12897 non-null int64
Reactions          12897 non-null int64
Balance            12897 non-null int64
ShotPower          12897 non-null int64
Jumping            12897 non-null int64
Stamina            12897 non-null int64
Strength           12897 non-null int64
LongShots          12897 non-null int64
Aggression         12897 non-null int64
Interceptions      12897 non-null int64
Positioning        12897 non-null int64
Vision             12897 non-null int64
Penalties          12897 non-null int64
Composure          12897 non-null int64
Marking            12897 non-null int64
StandingTackle     12897 non-null int64
SlidingTackle      12897 non-null int64
GKDiving           12897 non-null int64
GKHandling         12897 non-null int64
GKKicking          12897 non-null int64
GKPositioning      12897 non-null int64
GKReflexes         12897 non-null int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [2]:
display(football.head())

,N,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [3]:
display(football.tail(7))

,N,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [10]:
    display(football.describe())

,N,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [7]:
display(football.describe(include={'object'}))

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

Чему равен средний возраст (Age), футболистов в наборе данных, округлённый до целого

In [14]:
 display(round(football.Age.mean()))

25

Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах?

In [15]:
display(round(football.Composure.count()))

12897

3. Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

In [17]:
display(round(football.ShortPassing.std(),2))

14.74

4. Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

In [18]:
display(football.Wage.sum())

96954000

5. Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

In [20]:
display(football.Value.min())

0

Статистические параметры можно посчитать и по отфильтрованному DataFrame, например среднюю заработную плату футболистов с возрастом меньше среднего и из 'FC Barcelona':

In [22]:
display(round(football[(football.Age < football.Age.mean())&
        (football.Club == 'FC Barcelona')].Wage.mean()))

77455

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? Ответ округлите до сотых.

In [25]:
display(round(football[(football.Wage > football.Wage.mean())].SprintSpeed.mean(),2))

67.57

Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? Ответ округлите до сотых.

In [26]:
display(round(football[(football.Wage < football.Wage.mean())].SprintSpeed.mean(),2))

62.41

Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [27]:
display(football[(football.Wage == football.Wage.max())].Position)

0    RF
Name: Position, dtype: object

Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

In [28]:
display(football[(football.Nationality == 'Brazil')].Penalties.sum())

22789

Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. Ответ округлите до сотых.

In [29]:
display(round(football[(football.HeadingAccuracy > 50)].Age.mean(),2))

25.59

Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

In [34]:
display(football[(football.Composure > 0.9*football.Composure.max()) & (football.Reactions>0.9*football.Reactions.max())].Age.min())

24

Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [35]:
display(round(football[(football.Age == football.Age.max())].Reactions.mean()
              -football[(football.Age == football.Age.min())].Reactions.mean(),2))

22.64

Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

In [52]:
reach=(football[(football.Value > football.Value.mean())]).Nationality
display(
    reach.describe()
)

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). Ответ округлите до сотых.

In [72]:
dext=football[(football.Position == 'GK')].GKReflexes.max()
dent=football[(football.Position == 'GK')].GKHandling.max()
display(football[(football.Position == 'GK') & (football.GKReflexes==dext)].Wage)
display(football[(football.Position == 'GK') & (football.GKHandling==dent)].Wage)
 #             -football[(football.Age == football.Age.min())].Reactions.mean(),2))

3    260000
Name: Wage, dtype: int64

9    94000
Name: Wage, dtype: int64

Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией.Ответ округлите до сотых.

In [86]:
dext=football[(football.Aggression == football.Aggression.max())].ShotPower.mean()
dent=football[(football.Aggression == football.Aggression.min())].ShotPower.mean()
display(round(dext/dent,2))
display(dent)
display(football[(football.ShotPower == dext)].ShotPower.max())
display(football[(football.ShotPower == dent)].ShotPower.mean())
 #             -football[(football.Age == football.Age.min())].Reactions.mean(),2))

2.08

30.333333333333332

63

nan

In [89]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.mean()

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [90]:
small_df = football[football.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [91]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Uruguay      3
Argentina    3
Belgium      3
Germany      3
France       2
Italy        1
Brazil       1
Portugal     1
England      1
Croatia      1
Poland       1
Slovenia     1
Name: Nationality, dtype: int64

In [93]:
s.index

Index(['Spain', 'Uruguay', 'Argentina', 'Belgium', 'Germany', 'France',
       'Italy', 'Brazil', 'Portugal', 'England', 'Croatia', 'Poland',
       'Slovenia'],
      dtype='object')

In [94]:
s.index[0]

'Spain'

In [95]:
len(s.index)

13

In [96]:
s['Germany']

3

In [97]:
s.loc[s > 1]

Spain        4
Uruguay      3
Argentina    3
Belgium      3
Germany      3
France       2
Name: Nationality, dtype: int64

Сколько футбольных клубов представлено в датасете?

In [99]:
s = football['Club'].value_counts()
display(len(s))

650

Отметьте названия футбольных клубов, представленных в датасете наибольшим количеством игроков.

In [103]:
display(s.head(10))

Shonan Bellmare     30
V-Varen Nagasaki    30
Vissel Kobe         29
Padova              29
De Graafschap       29
FC Emmen            29
Júbilo Iwata        28
Crewe Alexandra     28
Sagan Tosu          28
Karlsruher SC       28
Name: Club, dtype: int64

Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете (скопируйте ответ из Jupyter Notebook)?

In [104]:
display(s.tail(10))

Udinese              9
Cagliari             9
Olympiacos CFP       8
FC Metz              8
Cruzeiro             8
Dijon FCO            8
Vitória Guimarães    7
Dinamo Zagreb        7
GD Chaves            7
Atlético Mineiro     6
Name: Club, dtype: int64

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [109]:
s = football['Position'].value_counts(normalize=True)
display(s.loc[s>0.1])

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [110]:
s = football['Position'].value_counts(normalize=True)
display(s.loc[s < 0.01])

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [111]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [112]:
s.index[3].left

447250.0

In [114]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [117]:
s = football['FKAccuracy'].value_counts(bins=5)
display(s)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

Какие показатели точности ударов ногой демонстрирует большинство футболистов?

У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [125]:
#Отбираем из набора испанцев в набор c зарплатой и страной
c=football[(football.Nationality == 'Spain')]
s_df=c['Wage'].value_counts(normalize=True, bins=4 )
display(s_df)
#группируем испанцев по зарплате
#s = football['FKAccuracy'].value_counts(bins=5)
#display(s)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [127]:
c=football[(football.Club == 'Manchester United')]
s_df=c['Nationality'].value_counts()
display(len(s_df))

13

С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [131]:
c=football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')]
s_df=c['Name'].value_counts()
display(s_df)

Alex Sandro      1
Douglas Costa    1
Name: Name, dtype: int64

Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [132]:
c=football[(football.Age >35)]
s_df=c['Club'].value_counts()
display(s_df)

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Gimnasia y Esgrima La Plata    3
Benevento                      3
Club Atlético Talleres         3
                              ..
Al Nassr                       1
SD Huesca                      1
Shonan Bellmare                1
Club Deportes Temuco           1
Exeter City                    1
Name: Club, Length: 212, dtype: int64

С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [134]:
c=football[(football.Nationality == 'Argentina' )]
c_df=c['Age'].value_counts(bins=4)
display(c_df)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [135]:
c=football[(football.Nationality == 'Spain')]
s_df=c['Age'].value_counts(normalize=True)
display(s_df)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

B2.3.1 Функция groupby

Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.

In [138]:
grouped_df = football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.loc[grouped_df > 5000000])

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?

In [139]:
football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])
Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?

In [275]:
df=football.groupby('Club')['Wage'].agg(['median','mean']).sort_values(['median'],ascending=False)
display(len(df.loc[df['median']==df['mean']]))
display(df.loc[df['median']==df['mean']])
#display(df.tail(60))
#display(df[(df.median == df.mean)])
#display(df.loc[('median' == 'mean')])
#display(football[football.Wage.median() == football.Wage.mean()])
#display(df.loc[(df.median() != df.mean() )])
#display(df.tail(60))
#df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

52

                        median     mean
Club
Cruzeiro                 13000  13000.0
Göztepe SK                7000   7000.0
Brøndby IF                6000   6000.0
1. FC Magdeburg           4000   4000.0
Sunderland                4000   4000.0
CD Feirense               4000   4000.0
Northampton Town          2500   2500.0
Philadelphia Union        2000   2000.0
Benevento                 2000   2000.0
CD Tondela                2000   2000.0
Pohang Steelers           2000   2000.0
Grimsby Town              2000   2000.0
AJ Auxerre                2000   2000.0
Heracles Almelo           2000   2000.0
Stade Brestois 29         2000   2000.0
Kashiwa Reysol            2000   2000.0
Jeonnam Dragons           2000   2000.0
FC Metz                   1500   1500.0
Jaguares de Córdoba       1000   1000.0
Deportivo Pasto           1000   1000.0
Kaizer Chiefs             1000   1000.0
Dinamo Zagreb             1000   1000.0
IF Brommapojkarna         1000   1000.0
Itagüí Leones FC          1000   1000.0
Trelleborgs FF            1000   1000.0
IK Sirius                 1000   1000.0
HJK Helsinki              1000   1000.0
FC Energie Cottbus        1000   1000.0
AEK Athens                1000   1000.0
Viktoria Plzeň            1000   1000.0
Dundalk                   1000   1000.0
Dynamo Kyiv               1000   1000.0
Envigado FC               1000   1000.0
Panathinaikos FC          1000   1000.0
PFC CSKA Moscow           1000   1000.0
PAOK                      1000   1000.0
Orlando Pirates           1000   1000.0
Shakhtar Donetsk          1000   1000.0
Olympiacos CFP            1000   1000.0
Patriotas Boyacá FC       1000   1000.0
Bohemian FC               1000   1000.0
SK Slavia Praha           1000   1000.0
Bray Wanderers            1000   1000.0
Boyacá Chicó FC           1000   1000.0
Shamrock Rovers           1000   1000.0
Lokomotiv Moscow          1000   1000.0
St. Patrick's Athletic    1000   1000.0
Limerick FC               1000   1000.0
Sligo Rovers              1000   1000.0
Cork City                 1000   1000.0
Sparta Praha              1000   1000.0
Spartak Moscow            1000   1000.0

B2.3.4 Практика

B2.3.4.1 Задача #1
С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [301]:
sum_wage=football.groupby('Club')['Wage'].sum()
sum_wage_ch=sum_wage['Chelsea']
print(sum_wage_ch)

2035000

1 point possible (graded)
Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [307]:
argentina_wage=football.loc[(football['Nationality']=="Argentina") & (football['Age']==20)]
arg_max_wage=argentina_wage.groupby('Nationality')['Wage','Name'].max()#.sort_values(['Wage'],ascending=False).head(10)
display(arg_max_wage)

              Wage           Name
Nationality
Argentina    54000  W. Bracamonte

B2.3.4.3 Задача #3
1 point possible (graded)
Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [308]:
argentina_wage=football.loc[(football['Nationality']=="Argentina") & (football['Age']==30)]
arg_max_wage=argentina_wage.groupby('Nationality')['Wage','Name'].max()#.sort_values(['Wage'],ascending=False).head(10)
display(arg_max_wage)

               Wage     Name
Nationality
Argentina    300000  S. Luna

B2.3.4.4 Задача #4
1 point possible (graded)
Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

In [309]:
argentina_wage=football.loc[(football['Nationality']=="Argentina") & (football['Age']==30)]
arg_max_wage=argentina_wage.groupby('Nationality')['Wage','Name'].min()#.sort_values(['Wage'],ascending=False).head(10)
display(arg_max_wage)

             Wage      Name
Nationality
Argentina    1000  A. Gómez

B2.3.4.5 Задача #5
1 point possible (graded)
Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.

In [310]:
argentina_wage=football.loc[(football['Nationality']=="Argentina") & (football['Club']=='FC Barcelona')]
barsa_max_str=argentina_wage.groupby('Nationality')['Strength','Balance','Name'].max()#.sort_values(['Wage'],ascending=False).head(10)
display(barsa_max_str)

             Strength  Balance      Name
Nationality
Argentina          59       95  L. Messi

Сводные Таблицы
B2.4.3.1 Задание 1
1 point possible (graded)
Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [369]:
f_piv = football.pivot_table(values=['Wage'],
index=['Position'],
columns=['Club'],
aggfunc='count',
margins=True,
fill_value=0)
display(f_piv)

                         Wage                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                         0                     1                    0
CB                          5                     3                    3
CDM                         1                     0                    3
CF                          0                     0                    0
CM                          2                     1                    0
GK                          3                     2                    3
LAM                         0                     0                    0
LB                          2                     2                    2
LCB                         0                     1                    1
LCM                         0                     0                    0
LDM                         1                     0                    0
LF                          0                     0                    0
LM                          2                     2                    2
LS                          0                     0                    1
LW                          0                     0                    1
LWB                         0                     0                    0
RAM                         1                     0                    0
RB                          2                     2                    2
RCB                         1                     1                    0
RCM                         0                     0                    0
RDM                         1                     0                    1
RF                          0                     0                    0
RM                          0                     3                    2
RS                          0                     0                    1
RW                          0                     0                    0
RWB                         0                     0                    0
ST                          3                     2                    1
All                        24                    20                   23

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM               0               0              1                  1
CB                1               4              1                  2
CDM               1               0              2                  2
CF                0               1              0                  0
CM                2               0              1                  1
GK                3               3              1                  1
LAM               0               0              0                  0
LB                0               1              1                  2
LCB               0               1              0                  1
LCM               0               1              0                  0
LDM               0               0              0                  0
LF                0               0              0                  0
LM                0               0              0                  0
LS                0               1              0                  0
LW                0               0              0                  0
LWB               1               0              0                  0
RAM               0               0              0                  0
RB                1               0              1                  1
RCB               0               1              0                  0
RCM               0               1              0                  0
RDM               0               0              0                  0
RF                0               0              0                  0
RM                1               3              2                  0
RS                0               1              0                  0
RW                0               2              0                  0
RWB               0               0              0                  0
ST                0               1              3                  0
All              10              21             13                 11

                                                ...                   \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Yeni Malatyaspor
Position                                        ...
CAM                    0          3          0  ...                2
CB                     2          1          3  ...                2
CDM                    0          0          1  ...                3
CF                     0          0          0  ...                0
CM                     1          1          2  ...                2
GK                     1          1          3  ...                4
LAM                    0          0          0  ...                0
LB                     1          3          3  ...                1
LCB                    0          1          1  ...                0
LCM                    1          0          1  ...                0
LDM                    0          1          0  ...                1
LF                     0          0          0  ...                0
LM                     0          1          2  ...                2
LS                     0          0          1  ...                0
LW                     2          0          0  ...                0
LWB                    0          0          0  ...                0
RAM                    0          0          0  ...                0
RB                     1          1          1  ...                2
RCB                    0          1          1  ...                0
RCM                    0          0          1  ...                0
RDM                    0          1          0  ...                0
RF                     0          0          0  ...                0
RM                     0          1          2  ...                1
RS                     1          0          1  ...                0
RW                     0          0          0  ...                0
RWB                    0          0          0  ...                0
ST                     1          3          2  ...                2
All                   11         19         25  ...               22

                                                                            \
Club     Yeovil Town Yokohama F. Marinos Zagłębie Lubin Zagłębie Sosnowiec
Position
CAM                0                   3              0                  3
CB                 3                   4              0                  2
CDM                0                   2              2                  2
CF                 0                   0              0                  0
CM                 1                   1              1                  0
GK                 3                   4              3                  3
LAM                0                   0              0                  0
LB                 2                   1              2                  3
LCB                1                   0              1                  1
LCM                1                   1              0                  0
LDM                0                   0              2                  1
LF                 0                   0              0                  0
LM                 2                   1              2                  4
LS                 1                   0              0                  0
LW                 0                   1              0                  0
LWB                0                   0              0                  0
RAM                0                   0              0                  0
RB                 2                   2              2                  1
RCB                1                   0              1                  1
RCM                1                   1              0                  0
RDM                0                   0              1                  1
RF                 0                   0              0                  0
RM                 5                   1              4                  2
RS                 1                   0              0                  0
RW                 0                   1              0                  0
RWB                0                   0              0                  0
ST                 4                   3              4                  1
All               28                  26             25                 25


Club     Çaykur Rizespor Örebro SK Östersunds FK Śląsk Wrocław    All
Position
CAM                    1         0             1             0    633
CB                     2         4             1             1   1403
CDM                    5         0             0             3    691
CF                     0         0             1             0     51
CM                     0         1             3             1   1067
GK                     3         3             3             3   1641
LAM                    0         0             0             0      6
LB                     2         0             2             2   1002
LCB                    1         1             1             1    409
LCM                    0         1             1             0    233
LDM                    1         0             0             1    148
LF                     0         0             0             0      8
LM                     1         0             2             2    728
LS                     0         0             0             1    121
LW                     0         3             0             0    242
LWB                    0         2             0             0     60
RAM                    0         0             0             0      5
RB                     3         0             1             2    948
RCB                    0         1             1             1    418
RCM                    0         1             0             0    240
RDM                    1         0             0             1    138
RF                     0         0             0             0      6
RM                     1         0             1             2    766
RS                     0         0             0             1    114
RW                     0         2             1             0    237
RWB                    0         2             0             0     70
ST                     1         5             1             2   1512
All                   22        26            20            24  12897

[28 rows x 651 columns]

B2.4.3.2 Задание 2
1 point possible (graded)
Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

In [367]:
c_f=f_piv.loc['CM']
display(c_f.value_counts())
#nun_cm=piv_tab['CF'].value_counts()

1       211
2       149
0       136
3        89
4        39
5        21
6         5
1067      1
Name: CM, dtype: int64

B2.4.4 Практика

С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".

In [370]:
wage_mon=football.loc[football['Club'].isin(['AS Monaco'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)
display(wage_mon)

                 Wage
Club        AS Monaco     All
Nationality
Belgium         47000   47000
Brazil          55000   55000
Colombia       115000  115000
Croatia         70000   70000
France          95000   95000
Italy           48000   48000
Montenegro      79000   79000
Morocco         39000   39000
Poland          86000   86000
Portugal        65000   65000
Russia          61000   61000
Senegal         10000   10000
All            770000  770000

B2.4.4.2 Задание 2
1 point possible (graded)

Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.

RB (правый защитник)
LM (левый полузащитник)
RM (правый полузащитник)
CF (центральный отянутый форвард)
RWM (правый атакующий полузащитник)
RS (правый конечный форвард)
 
В некоторых задачах доступны следующие действия: сохранение, сброс, показ подсказки или ответа. Соответствующие кнопки расположены рядом с кнопкой «Отправить».

In [373]:
position_dext=football.loc[football['Position'].isin(['RB','LM','RM','CF','RWM','RS'])].pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
margins=True,
fill_value=0)
display(position_dext)

                      SprintSpeed                                       \
Position                       CF         LM         RB         RM  RS
Club
 SSV Jahn Regensburg     0.000000  76.000000  68.500000   0.000000   0
1. FC Heidenheim 1846    0.000000  69.500000  80.500000  78.333333   0
1. FC Kaiserslautern     0.000000  70.500000  71.500000  82.500000  69
1. FC Köln               0.000000   0.000000  70.000000  77.000000   0
1. FC Magdeburg         64.000000   0.000000   0.000000  76.000000  53
...                           ...        ...        ...        ...  ..
Zagłębie Sosnowiec       0.000000  74.250000  68.000000  71.000000   0
Çaykur Rizespor          0.000000  58.000000  68.666667  85.000000   0
Östersunds FK           77.000000  73.500000  54.000000  85.000000   0
Śląsk Wrocław            0.000000  72.000000  50.500000  68.000000  81
All                     69.803922  74.211538  71.186709  74.943864  71


Position                     All
Club
 SSV Jahn Regensburg   72.250000
1. FC Heidenheim 1846  76.428571
1. FC Kaiserslautern   74.000000
1. FC Köln             73.500000
1. FC Magdeburg        69.000000
...                          ...
Zagłębie Sosnowiec     72.428571
Çaykur Rizespor        69.800000
Östersunds FK          72.600000
Śląsk Wrocław          66.000000
All                    73.143460

[624 rows x 6 columns]

B2.4.4.3 Задание 3
1 point possible (graded)
Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.

In [392]:
club_dext=football.loc[football['Club'].isin(['Sydney FC',
'CD Lugo',
'Arsenal',
'Toronto FC',
'Girona FC',
'Melbourne Victory',
'Vitória'])].pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
margins=True,
fill_value=0)
display(club_dext)

                  SprintSpeed                                                 \
Position                  CAM    CB CDM  CF     CM         GK         LB LCB
Club
Arsenal             69.000000  49.0  60   0  65.00  49.000000  76.666667   0
CD Lugo             72.000000  48.5  50   0  56.00  44.500000  72.500000  71
Girona FC           72.000000  54.0   0   0   0.00  35.666667  67.500000   0
Melbourne Victory   71.000000  38.0  40   0  62.00  32.333333  61.500000  52
Sydney FC           79.500000  59.0   0   0  64.50  44.666667  74.000000  31
Toronto FC          63.000000  53.0  62  73  69.00  41.000000  83.000000   0
Vitória             70.666667  56.0  64   0   0.00  42.500000  68.000000  61
All                 71.545455  52.0  52  73  62.75  41.157895  71.692308  53

                           ...                                           \
Position          LCM LDM  ...  LW LWB         RB RCB RDM  RM  RS    RW
Club                       ...
Arsenal            74  49  ...  79   0  75.500000  73  60   0   0   0.0
CD Lugo             0   0  ...   0   0  72.333333   0   0  65  68   0.0
Girona FC           0   0  ...   0  60   0.000000  74   0   0   0   0.0
Melbourne Victory   0   0  ...   0   0  78.000000  75   0  76   0  78.5
Sydney FC          62   0  ...   0   0  64.333333  47   0  67  71  74.0
Toronto FC          0   0  ...   0   0   0.000000  76   0   0   0   0.0
Vitória             0   0  ...   0   0  75.000000   0  72   0   0   0.0
All                68  49  ...  79  60  71.400000  69  66  69  69  77.0


Position              ST        All
Club
Arsenal            83.00  68.608696
CD Lugo            87.00  61.736842
Girona FC           0.00  57.933333
Melbourne Victory  81.00  57.777778
Sydney FC          88.00  63.681818
Toronto FC         81.75  64.700000
Vitória            91.00  65.333333
All                84.00  63.093023

[8 rows x 22 columns]