In [91]:
import pandas as pd
rating = pd.read_csv('rating.csv')
display(rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

None

In [92]:
import pandas as pd
movies = pd.read_csv('movies.csv')
display(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
movieId    9742 non-null object
title      7661 non-null object
genres     7661 non-null object
dtypes: object(3)
memory usage: 228.5+ KB

None

Задание 1 
1 point possible (graded) 
Скачайте файлы ratings.csv и movies.csv из предыдущего шага. Давайте повторим основные методы получения информации о датасете, которые мы изучали в модуле 1 "Общее знакомство с библиотекой Pandas". 
Сколько строк в файле рейтингов, не считая строки заголовка (подсказка: количество непустых значений соответствует количеству строк)?

In [12]:
display(rating.describe())
display(movies.describe())

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

       movieId                                   title  genres
count     9742                                    7661    7661
unique    9742                                    7656     840
top        201  Confessions of a Dangerous Mind (2002)  Comedy
freq         1                                       2     794

In [14]:
display(movies.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
display(rating.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [36]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

In [17]:
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

In [37]:
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

Задание 1 
1 point possible (graded) 
Объедините получившиеся датафреймы по столбцу item_id с типом outer. 
Определите, модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе (подсказка: подумайте, какой датафрейм должен быть "левым", а какой "правым", чтобы получить необходимые данные). Введите ответ в виде целого числа.

In [38]:
merge_df=purchase_df.merge(items_df, how = 'outer', on = 'item_id')
display(merge_df)

    purchase_id  item_id    price   vendor  stock_count
0         101.0   417283  13900.0  Samsung         54.0
1         101.0   849734   5330.0       LG         33.0
2         101.0   132223  38200.0    Apple        122.0
3         112.0   573943  49990.0    Apple         18.0
4         121.0    19475   9890.0       LG        102.0
5         145.0  3294095  33000.0    Apple         43.0
6         145.0   382043  67500.0  Samsung         77.0
7         145.0   302948  34500.0  Samsung        143.0
8         145.0   103845  89900.0      NaN          NaN
9         221.0   100132  11400.0       LG         60.0
10          NaN   312394      NaN      ZTE         19.0

Задание 3 
1/1 point (graded) 
Сформируйте датафрейм merged, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи. Сколько всего таких моделей?

In [39]:
merge_df=purchase_df.merge(items_df, how = 'left', on = 'item_id')
display(merge_df)

   purchase_id  item_id  price   vendor  stock_count
0          101   417283  13900  Samsung         54.0
1          101   849734   5330       LG         33.0
2          101   132223  38200    Apple        122.0
3          112   573943  49990    Apple         18.0
4          121    19475   9890       LG        102.0
5          145  3294095  33000    Apple         43.0
6          145   382043  67500  Samsung         77.0
7          145   302948  34500  Samsung        143.0
8          145   103845  89900      NaN          NaN
9          221   100132  11400       LG         60.0

Задание 4 
1 point possible (graded) 
Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.
Примечание: перемножение столбцов датафрейма можно производить разными способами, но самый простой - перемножение "в лоб" вида df['col1'] = df['col2'] * df['col3']. Для присоединения новых данных к датафрейму тоже можно использовать различные методы, включая функцию .append(), которая позволяет присоединять к датафрейму другой датафрейм, серии или словари.

In [40]:
merge_df[summ_revenue]=merge_df[stock_count]*merge_df[price]
#display(merge_df.describe())

NameError: name 'stock_count' is not defined

In [31]:
sell_merge_df=merge_df.append(merge_df[stock_count]*merge_df[price])

NameError: name 'stock_count' is not defined

In [41]:
import os
#Для получения списка файлов воспользуемся методом listdir. В качестве аргумента указываем папку 'data':
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

1 point possible (graded) 
После чтения папки список файлов оказался следующим:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
Создайте на основе списка files новый список data, в который поместите только файлы, содержащие в названии "txt".

In [44]:
data=[]
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
for item in files:
    if item.find('.txt')>0 :
        data.append(item)
    else:
        continue
print (data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [45]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']

На прошлом шаге мы получили список файлов в папке. Теперь нам необходимо содержимое этих файлов, собрать в одном датафрейме. Это можно сделать используя метод concatenate.

In [ ]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'] )
data = pd.concat([data, temp])

Напишите цикл, который собирает содержимое файлов папки data в единый датафрейм data.
Сколько строк в датафрейме data?

In [50]:
import pandas as pd
rating = pd.read_csv('data/ratings_1.txt')
display(rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 4 columns):
1             9998 non-null int64
31            9998 non-null int64
2.5           9998 non-null float64
1260759144    9998 non-null int64
dtypes: float64(1), int64(3)
memory usage: 312.6 KB

None

In [53]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for root, dirs, files in os.walk('data'):
    for item in files:
        temp = pd.read_csv( os.path.join('data', item), names = ['userId', 'movieId', 'rating', 'timestamp'] )
        data = pd.concat([data, temp])
    else:
        display(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 9999
Data columns (total 4 columns):
userId       100004 non-null object
movieId      100004 non-null object
rating       100004 non-null float64
timestamp    100004 non-null object
dtypes: float64(1), object(3)
memory usage: 3.8+ MB

None

Сколько раз была выставлена низшая оценка 0.5 в наших рейтингах? Используйте файл ratings.csv.

In [56]:
import pandas as pd
rating = pd.read_csv('rating.csv')
display(rating.loc[rating.rating==0.5])

        userId  movieId  rating   timestamp
261          3       31     0.5  1306463578
262          3      527     0.5  1306464275
263          3      647     0.5  1306463619
264          3      688     0.5  1306464228
265          3      720     0.5  1306463595
...        ...      ...     ...         ...
99394      608     6827     0.5  1117519648
99408      608     7004     0.5  1117506252
100345     610    61818     0.5  1493848943
100415     610    72424     0.5  1493849030
100797     610   145951     0.5  1493849019

[1370 rows x 4 columns]

Задание 4 
1 point possible (graded) 
Объедините датафреймы ratings и movies, используя параметр how='outer'.
Сколько строк в получившемся датафрейме?

In [80]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
rating.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
#display(movies.info())
#display(rating.info())
ratings_movies=rating.merge(movies, how = 'left', on = 'movieId')
display(ratings_movies.describe())

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

Задание 5 
1 point possible (graded) 
Найдите в датафрейме movies фильм с movieId=3456.
Какой у него год выпуска? 
P. S. Попробуйте найти movieId этого фильма в датафрейме ratings. Это будет ключом к ответу на следующее задание.

In [83]:
import pandas as pd
rating = pd.read_csv('rating.csv')
display(rating.loc[rating.movieId=='3456'])
display(movies.loc[movies.movieId==3456])

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [96]:
import pandas as pd
rating = pd.read_csv('ratings.xls')
#rating.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies = pd.read_csv('movies.xls')
#movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
ratings_movies=movies.merge(rating, how = 'outer', on = 'movieId')
display(ratings_movies.info())
#display(rating.info())
#display(movies.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
movieId      100854 non-null int64
title        100854 non-null object
genres       100854 non-null object
userId       100836 non-null float64
rating       100836 non-null float64
timestamp    100836 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

None